.card {
	height: 100%;
	display: flex;
	flex-direction: column;
}

button.actionArea,
.actionArea {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: flex-start;
}

div.title,
.title {
	flex-grow: 1;
	align-items: start;
}
