.card {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

button.actionArea,
.actionArea {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: flex-start;
}

div.title,
.title {
	flex-grow: 1;
	align-items: start;
}

.media {
	width: 100%;
	aspect-ratio: 240 / 360;
}

.media.thumbnail {
	aspect-ratio: 640 / 360;
}
