.progress,
.progressFilled,
.progressBuffered {
	height: 25px;
	border-radius: 12.5px;
}

.progressFilled,
.progressBuffered {
	grid-column: 1;
	grid-row: 1;
	clip-path: inset(0 100% 0 0);
}

.progress {
	display: grid;
	flex-grow: 1;
	background-color: var(--mui-palette-primary-dark);
}

.progressFilled {
	background-color: var(--mui-palette-primary-light);
}

.progressBuffered {
	background-color: var(--mui-palette-primary-main);
}

.progressContainer {
	padding: 5px;
	display: flex;
	flex-direction: row;
	gap: 15px;
	background-color: rgb(from var(--mui-palette-common-background) r g b / 50%);
}
