.container {
	padding: 5px;
	gap: 5px;
	width: '100%';
	display: flex;
	flex-direction: column;
}

.carousel {
	display: flex;
	gap: 10px;
	flex-direction: row;
	overflow: auto;
	align-items: stretch;
	justify-content: flex-start;
}

.carousel>* {
	flex-shrink: 0;
	height: unset;
	max-width: 240px;
}

.library .iconContainer>svg {
	width: 150px;
	height: 150px;
}
