$tableBorder: 1px solid rgba(var(--mui-palette-common-onBackgroundChannel) / 0.23);

.container {
	padding: 10px 10%;
	gap: 5px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.container.scroll {
	overflow: auto;
	height: 100%;
}

.spacer {
	flex-grow: 1;
}

table.table {
	border: $tableBorder;
	border-collapse: collapse;

	th,
	td {
		border: $tableBorder;
		padding: 5px;
	}
}

@media screen and (max-width: 640px) {
	.container {
		padding: 10px;
	}
}
