.container {
	--spacing: 10px;
	justify-content: flex-start;
	align-content: stretch;
	padding: var(--spacing);
	gap: var(--spacing);
	display: flex;
	flex-wrap: wrap;
}

.item {
	--min: 240px;
	width: var(--min);
	min-width: var(--min);
	max-width: calc(var(--min) * 2);
	flex: 1 0 var(--min);
}

@media screen and (max-width: 640px) {
	.item {
		--min: 150px;
	}
}
